Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variables. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

In [17]:
import pandas as pd
import numpy as np

pd.set_option('display.max_colwidth', None) # Show full column contents (if applicable)

In [18]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
print("Grouped Summary")
display(df.groupby('Species').describe())
display(df.groupby('Species').agg(['mean', 'median', 'min', 'max', 'std']))

Grouped Summary

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm                                              \
                        count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa              50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor          50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                SepalWidthCm                                                \
                       count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa             50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor         50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica          50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

                PetalLengthCm                                               \
                        count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa              50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor          50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica           50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

                PetalWidthCm
                       count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa             50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor         50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica          50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

                    Id                            SepalLengthCm              \
                  mean median  min  max       std          mean median  min
Species
Iris-setosa       25.5   25.5    1   50  14.57738         5.006    5.0  4.3
Iris-versicolor   75.5   75.5   51  100  14.57738         5.936    5.9  4.9
Iris-virginica   125.5  125.5  101  150  14.57738         6.588    6.5  4.9

                               SepalWidthCm                             \
                 max       std         mean median  min  max       std
Species
Iris-setosa      5.8  0.352490        3.418    3.4  2.3  4.4  0.381024
Iris-versicolor  7.0  0.516171        2.770    2.8  2.0  3.4  0.313798
Iris-virginica   7.9  0.635880        2.974    3.0  2.2  3.8  0.322497

                PetalLengthCm                            PetalWidthCm         \
                         mean median  min  max       std         mean median
Species
Iris-setosa             1.464   1.50  1.0  1.9  0.173511        0.244    0.2
Iris-versicolor         4.260   4.35  3.0  5.1  0.469911        1.326    1.3
Iris-virginica          5.552   5.55  4.5  6.9  0.551895        2.026    2.0


                 min  max       std
Species
Iris-setosa      0.1  0.6  0.107210
Iris-versicolor  1.0  1.8  0.197753
Iris-virginica   1.4  2.5  0.274650

In [27]:
print("Overall Statistics: ")
display(df.describe())

# For each species
print("\nStatistics for species Iris-setosa")
display(df[df['Species'] == 'Iris-setosa'].describe())

print("\nStatistics for species Iris-setosa")
display(df[df['Species'] == 'Iris-versicolor'].describe())

print("\nStatistics for species Iris-setosa")
display(df[df['Species'] == 'Iris-virginica'].describe())

df['Species'].unique()

Overall Statistics:

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

Statistics for species Iris-setosa

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Statistics for species Iris-setosa

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Statistics for species Iris-setosa

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)