step-1 Import Important Libraries

In [1]:
import pandas as pd
import numpy as np

Step 2: Load the Dataset into Pandas DataFrame

In [2]:
df = pd.read_csv("academic_performance.csv")
df.head()

   Student_ID  Math_Score  English_Score  Study_Hours
0         101        78.0           88.0            5
1         102        85.0           76.0            3
2         103        96.0            NaN            6
3         104        45.0           67.0            2
4         105        66.0           59.0            4

In [3]:
df.isnull().sum()

Student_ID       0
Math_Score       1
English_Score    2
Study_Hours      0
dtype: int64

In [5]:
df['Math_Score'] = df['Math_Score'].fillna(df['Math_Score'].mean())
df['English_Score'] = df['English_Score'].fillna(df['English_Score'].mean())

Step 3: Scan for Outliers

In [6]:
Q1 = df['Study_Hours'].quantile(0.25)
Q3 = df['Study_Hours'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Study_Hours'] < lower_bound) | (df['Study_Hours'] > upper_bound)]
outliers

    Student_ID  Math_Score  English_Score  Study_Hours
7          108       101.0           94.0          100
28         129        89.0           90.0          110

 Step 4: Apply Data Transformation

In [7]:
df['Log_Study_Hours'] = np.log1p(df['Study_Hours'])  # log1p handles 0 safely

In [8]:
df['Log_Study_Hours'] = np.log1p(df['Study_Hours'])  # log1p handles 0 safely

Final Output :-

In [9]:
print(df)

    Student_ID  Math_Score  English_Score  Study_Hours  Log_Study_Hours
0          101   78.000000      88.000000            5         1.791759
1          102   85.000000      76.000000            3         1.386294
2          103   96.000000      77.392857            6         1.945910
3          104   45.000000      67.000000            2         1.098612
4          105   66.000000      59.000000            4         1.609438
5          106   77.551724      85.000000            5         1.791759
6          107   89.000000      92.000000            6         1.945910
7          108  101.000000      94.000000          100         4.615121
8          109   72.000000     120.000000            3         1.386294
9          110   65.000000      72.000000            4         1.609438
10         111   88.000000      90.000000            5         1.791759
11         112   79.000000      65.000000            2         1.098612
12         113   91.000000      87.000000            3         1.386294
13         114   55.000000      66.000000            4         1.609438
14         115   62.000000      70.000000            4         1.609438
15         116   58.000000      60.000000            3         1.386294
16         117   84.000000      77.392857            2         1.098612
17         118   90.000000      77.000000            4         1.609438
18         119  100.000000      89.000000            6         1.945910
19         120   87.000000      81.000000            5         1.791759
20         121   61.000000      60.000000            3         1.386294
21         122   49.000000      55.000000            2         1.098612
22         123   70.000000      63.000000            3         1.386294
23         124   95.000000      92.000000            6         1.945910
24         125   67.000000      59.000000            4         1.609438
25         126   73.000000      65.000000            2         1.098612
26         127   68.000000      66.000000            3         1.386294
27         128   94.000000      84.000000            5         1.791759
28         129   89.000000      90.000000          110         4.709530
29         130   92.000000      95.000000            4         1.609438